<div id="<%= dom_id pago %>">
  <p>
    <strong>Fechapago:</strong>
    <%= pago.fechapago %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= pago.anio %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= pago.mes %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= pago.monto %>
  </p>

</div>
