<%= form_with model: @persona, url: personas_path do |f|%>
<div>
    <%= f.label :nombre%>
    <%= f.text_field :nombre%>
</div>
<div>
    <%= f.label :dni%>
    <%= f.text_field :dni%>
</div>
<div>
<%= f.collection_select :capitulo_id, Capitulo.all.order(name: :asc), :id, :name%>
</div>
<br>
<%= f.submit%>
<% end %>